.App {
  text-align: center;
}
.Header {
  background: #D35E07;
  border: 1px black solid;
  border-radius: 15px;
  width: auto;
  padding: 15px;
  margin: 25px;
  box-shadow: 10px 10px 50px black;
  color: white;
  text-shadow: 3px 2px black; 
}
/* write your parent styles in here for your App.js */
